<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Productos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <h3 margin padding *ngIf="products.length < 1">{{msj}}</h3>
  <ion-list>
    <button ion-item *ngFor="let product of products" (click)="itemTapped($event, product)">
      {{product.name}}
      <div class="item-note" item-end>
        <p>{{product.price}}</p>
      </div>
    </button>
  </ion-list>
</ion-content>
