<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Editar Producto</ion-title>
  </ion-navbar>
</ion-header>

<ion-content >
  <div class="image-wrapper">
    <img [src]="urlImage">
  </div>
  <div padding>
    <button *ngIf="!cameraOpen" ion-button full (click)="openCamera()">Take picture</button>
  </div>
  <form padding>
    <ion-item [class.ng-is-invalid]="name.touched && !editProduct.name.valid" 
              [class.ng-is-valid]="editProduct.name.valid">
      <ion-label floating>Nombre</ion-label>
      <ion-input requierd  type="text" name="name" 
                (ionBlur)="nameValidate()"
                [(ngModel)]="editProduct.name.value" 
                #name="ngModel">   
      </ion-input>
    </ion-item>
    <p ion-text padding-left padding-right class="no-margin" color="danger">
      <span *ngIf="name.touched && !editProduct.name.valid">{{ editProduct.name.errorMessage }}</span>
    </p>

    <ion-item [class.ng-is-invalid]="price.touched && !editProduct.price.valid" 
              [class.ng-is-valid]="editProduct.price.valid">
      <ion-label floating>Precio</ion-label>
      <ion-input requierd  type="number" name="price" 
                (ionBlur)="priceValidate()"
                [(ngModel)]="editProduct.price.value" 
                #price="ngModel">   
      </ion-input>
    </ion-item>
    <p ion-text padding-left padding-right class="no-margin" color="danger">
      <span *ngIf="price.touched && !editProduct.price.valid">{{ editProduct.price.errorMessage }}</span>
    </p>

    <ion-item [class.ng-is-invalid]="quantity.touched && !editProduct.quantity.valid" 
              [class.ng-is-valid]="editProduct.quantity.valid">
      <ion-label floating>Cantidad</ion-label>
      <ion-input requierd  type="number" name="quantity" 
                (ionBlur)="quantityValidate()"
                [(ngModel)]="editProduct.quantity.value" 
                #quantity="ngModel">   
      </ion-input>
    </ion-item>
    <p ion-text padding-left padding-right class="no-margin" color="danger">
      <span *ngIf="quantity.touched && !editProduct.quantity.valid">{{editProduct.quantity.errorMessage}}</span>
    </p>

    <ion-item [class.ng-is-invalid]="id.touched && !editProduct.id.valid" 
              [class.ng-is-valid]="editProduct.id.valid">
      <ion-label floating>Codigo</ion-label>
      <ion-input [class.ng-valid]="false" requierd  type="text" name="id" 
                (ionBlur)="idValidate()"
                [(ngModel)]="editProduct.id.value" 
                #id="ngModel">
      </ion-input>
    </ion-item>
    <p ion-text padding-left padding-right class="no-margin" color="danger">
      <span *ngIf="id.touched && !editProduct.id.valid">{{editProduct.id.errorMessage}}</span></p>
    
    <button margin-top margin-bottom ion-button full type="submit" block color="success"
              [disabled]=" !editProduct.name.valid || !editProduct.price.valid || !editProduct.quantity.valid || !editProduct.id.valid "
              (click)="updateProduct()">Editar Producto</button>
    <button margin-top margin-bottom ion-button full (click)="cancel()" block color="danger">cancel</button>
	</form >
  <div *ngIf="cameraOpen" class="opacity-camera"></div>
  <div *ngIf="cameraOpen" class="take-picture">
    <button ion-button full color="success" (click)="takePhoto()">Tomar Foto</button>
    <button ion-button full color="danger" (click)="closeCamera()">Cerrar Camara</button>
  </div>
  
</ion-content>
