<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Buscar Producto</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>      
      <ion-item [class.ng-is-invalid]="id.touched && !find.id.valid"
              [class.ng-is-valid]="find.id.valid">
      <ion-label floating>Codigo del producto</ion-label>
      <ion-input [class.ng-valid]="false" requierd  type="text" name="id" 
                (ionBlur)="idValidate()"
                [(ngModel)]="find.id.value" 
                #id="ngModel">
      </ion-input>
    </ion-item>
    <p ion-text padding-left padding-right class="no-margin" color="danger">
      <span *ngIf="id.touched && !find.id.valid">{{find.id.errorMessage}}</span></p>

      <button margin-top margin-bottom ion-button full (click)="getOne()" block color="success"
              [disabled]="!find.id.valid ">Buscar Producto</button>
      <button margin-top margin-bottom ion-button full secondary (click)="scan()"> Escanear </button>
      <button margin-top margin-bottom ion-button full (click)="cancel()" block color="danger">cancel</button>
      <button margin-top margin-bottom *ngIf="msj == 'Product Not Found'" ion-button full secondary (click)="agregarProducto()"> Agregarlo </button>
      
</ion-content>
