page-detail {
	.image-wrapper {
		overflow: hidden;
		position: relative;
		height: 24rem;
		text-align: center;
		background-color: color($colors, black , base);
		img {
			height: 100%;
			width: auto;
			margin: 0 auto;
		}
	}
}
