<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{product.name}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <div class="image-wrapper">
    <img [src]="product.image" alt="">
  </div>
  <div padding>
    <h4><span>Nombre: </span>{{product.name}}</h4>
    <h4><span>Cantidad: </span>{{product.quantity}}</h4>
    <h4><span>Precio: </span>${{product.price}}</h4>
    <h4><span>Codigo: </span>{{product.id}}</h4>
  </div>
  <div padding>
    <button *ngIf="!cameraOpen" ion-button full (click)="edit()">Editar</button>
    <button *ngIf="!cameraOpen" ion-button full color="danger" (click)="delete()">Borrar</button>
  </div>
</ion-content>
