page-add-product {
	.image-wrapper {
		overflow: hidden;
		position: relative;
		height: 200px;
		text-align: center;
		height: 24rem;
		text-align: center;
		background-color: color($colors, black , base);
		img {
			height: 100%;
			width: auto;
			margin: 0 auto;
		}	
	}

	.take-picture {
		position: absolute;
		bottom: 0;
		z-index: 500;
		width: 100%;
		background-color: color($colors, dark , base);
		button {
			margin: 0;
		}
	}
	.opacity-camera {
		height: 100%;
		width: 100%;
		background-color: color($colors, dark , base);
		position: absolute;
		top: 0;	
	}
}
